<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>knowYourRole_App Store</string>
		<string>knowYourRole_TabBar Hi-Res</string>
		<string>knowYourRole_TabBar</string>
		<string>knowYourRole_ToolBar Hi-Res</string>
		<string>knowYourRole_ToolBar</string>
		<string>knowYourRole_spotlight</string>
		<string>knowYourRole_Spotlight Hi-Res</string>
		<string>knowYourRole_WebClip</string>
		<string>knowYourRole_WebClip Hi-Res</string>
		<string>knowYourRole_Application.png</string>
		<string>knowYourRole_Application Hi-Res.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.littlelogic.knowyourrole</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
